#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 11.5vh;
    display: flex;
    justify-content: space-between;
    padding: 2.84vw 2.84vw 0 2.84vw;
}

.left {
    width: 50%;
}
.logo {
    display: flex;
}
.header__img {
    width: 80px;
    height: 70px;
}

.header__text {
    padding-top: 4vw;
}

.right {
    width: 50%;
}

.right ul {
    display: flex;
}
.right ul li {
    padding: 0 1vw 0 1vw;
}
