#main {
}

#intro {
    height: 100vh;
}

.intro__wrap {
    padding-bottom: 15vw;
}
.img__text {
    width: 100%;
    display: flex;
    position: relative;
}
.img__hidden img {
    position: absolute;
    top: 0%;
    left: 0%;
}

.img__hidden,
.text__hidden {
    height: 150px;
    overflow: hidden;
}

.img__hidden img {
    width: 14rem;
    height: 9rem;
}
.text__hidden h3 {
    font-size: 9.3rem;
    line-height: 105%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -3%;
}
.intro__desc,
.intro__desc em {
    font-size: 1vw;
    font-family: var(--font-chosun);
}
