#main {
    
}

#intro {
    height: calc(100vh);
    /* padding: 8.1vw 2.7vw 47vw 2.7vw; */
    /* padding-bottom: 47vw; */
    /* 150 / 55 /50 */
    padding-top: 0;
}
.intro__inner {
    height: 100%;
}
.intro__wrap {
    padding-bottom: 15vw;
    position: relative;
}

#intro  .intro__inner .img__hidden {
    position: absolute;
    top: 0%;
    left: 0%;
}
#intro .intro__inner .img__hidden .img {
    background-image: url(../../img/intro__card.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 11vw;
    height: 6.3vw;
}

.img__hidden,
.text__hidden {
    height: 8vw;
    overflow: hidden;
}

.text__hidden h3 {
    font-size: 7.5vw;
    line-height: 105%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -3%;
}
.intro__desc {
    width: 65%;
}

.intro__desc,
.intro__desc em {
    font-size: 1vw;
    font-family: var(--font-chosun);
    line-height: 155%;
}
