#problem {
}
.problem__inner {
    display: flex;
    width: 100%;
    height: 100vh;
}
.left {
    width: 50%;
}
.left .problem__img {
    width: 40vw;
    height: 49vw;
    background-color: #000;
    border-radius: 20px;
}
.right {
    width: 50%;
}
.contents__wrap {
    width: 100%;
    height: 43vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-s-core);
}
.contents {
    display: flex;
}
.num {
    width: 20%;
    font-size: 1.5vw;
    font-weight: 600;
}
.contents .contents__text {
    width: 80%;
    padding: 0.3rem 0 0 0rem;
}

.contents__text p {
    width: 100%;
    max-width: 700px;
}
.contents .contents__title {
    font-size: 1.3vw;
    margin-bottom: 30px;
}
.contents .contents__text .contents__desc {
    font-size: 0.9vw;
    color: var(--font-color);
}
/* 텍스트 영역 */

/* */

.problem__more {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.problem__more > div:first-child {
    width: 20%;
}
.problem__more > div:nth-child(2) {
    width: 80%;
}
.problem__more .more {
    font-size: 1.1vw;
    font-family: var(--font-s-core);
}
.problem__more .more p {
    display: inline;
}





@media (max-width: 630px) {
    #problem {
        padding-bottom: 200px;
    }
    .problem__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left {
        width: 100%;
        margin-bottom: 100px;
    }
    .left .problem__img {
        margin: 0 auto;
        width: 90vw;
        height: 99vw;
    }

    .right {
        width: 100%;
    }
    .num {
        font-size: 3vw;
    }
    .contents__wrap {
        height: 100vw;
    }
    .contents__text p {
    }
    .contents .contents__title {
        font-size: 2.7vw;
    }
    .contents .contents__text .contents__desc {
        font-size: 2vw;
    }
    .contents__more a {
        font-size: 2vw;
        font-family: var(--font-s-core);
    }
}
