#slide {
    width: 100%;
}
.slider__wrap {
    width: 100%;
    display: flex;
    overflow: hidden;
}
.slider {
}
.slider .img img{
    width: 44.43vw;
    height: 26.25vw;
    border-radius: 30px;
    margin-right: 30px;
}